<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_194d8940a536526462d31b504e83bccb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_194d8940a536526462d31b504e83bccb" ></div>
        
</body>
<script>
    
    
            var map_194d8940a536526462d31b504e83bccb = L.map(
                "map_194d8940a536526462d31b504e83bccb",
                {
                    center: [7.0, -66.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: true,
                }
            );

            

        
    
            var tile_layer_b2c1fe846596d5d4f66969a4176b1cb8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_194d8940a536526462d31b504e83bccb);
        
    
            var feature_group_bbecd04c32a8ee89d2c7adb006206b6a = L.featureGroup(
                {}
            ).addTo(map_194d8940a536526462d31b504e83bccb);
        
    
        function geo_json_fa72ce9b3642a99004469a399efcc6a7_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_fa72ce9b3642a99004469a399efcc6a7_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_fa72ce9b3642a99004469a399efcc6a7 = L.geoJson(null, {
                onEachFeature: geo_json_fa72ce9b3642a99004469a399efcc6a7_onEachFeature,
            
                style: geo_json_fa72ce9b3642a99004469a399efcc6a7_styler,
        });

        function geo_json_fa72ce9b3642a99004469a399efcc6a7_add (data) {
            geo_json_fa72ce9b3642a99004469a399efcc6a7
                .addData(data)
                .addTo(feature_group_bbecd04c32a8ee89d2c7adb006206b6a);
        }
            geo_json_fa72ce9b3642a99004469a399efcc6a7_add({"bbox": [-66.630138, 7.83209, -66.287668, 8.170535], "features": [{"bbox": [-66.630138, 7.83209, -66.287668, 8.170535], "geometry": {"coordinates": [[[-66.57229, 8.170535], [-66.287668, 8.111711], [-66.345672, 7.83209], [-66.630138, 7.890901], [-66.57229, 8.170535]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_8d172e8dde25dc274056ed451668152f = L.popup({"maxWidth": "100%"});

        
            
                var html_9ee414c3180e61a361964028195da03d = $(`<div id="html_9ee414c3180e61a361964028195da03d" style="width: 100.0%; height: 100.0%;">sceneId:2797483<br>Archivo:<a href='data/vrss2/2798280.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_8d172e8dde25dc274056ed451668152f.setContent(html_9ee414c3180e61a361964028195da03d);
            
        

        geo_json_fa72ce9b3642a99004469a399efcc6a7.bindPopup(popup_8d172e8dde25dc274056ed451668152f)
        ;

        
    
    
        function geo_json_b30e1a8de04841cfe54296877d4ac417_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_b30e1a8de04841cfe54296877d4ac417_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_b30e1a8de04841cfe54296877d4ac417 = L.geoJson(null, {
                onEachFeature: geo_json_b30e1a8de04841cfe54296877d4ac417_onEachFeature,
            
                style: geo_json_b30e1a8de04841cfe54296877d4ac417_styler,
        });

        function geo_json_b30e1a8de04841cfe54296877d4ac417_add (data) {
            geo_json_b30e1a8de04841cfe54296877d4ac417
                .addData(data)
                .addTo(feature_group_bbecd04c32a8ee89d2c7adb006206b6a);
        }
            geo_json_b30e1a8de04841cfe54296877d4ac417_add({"bbox": [-66.579995, 8.074481, -66.237348, 8.412892], "features": [{"bbox": [-66.579995, 8.074481, -66.237348, 8.412892], "geometry": {"coordinates": [[[-66.522111, 8.412892], [-66.237348, 8.354055], [-66.295394, 8.074481], [-66.579995, 8.133304], [-66.522111, 8.412892]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_f087712b2652357ee491c7047dd97dcf = L.popup({"maxWidth": "100%"});

        
            
                var html_82925a5e4d9d31da2bd816e885598796 = $(`<div id="html_82925a5e4d9d31da2bd816e885598796" style="width: 100.0%; height: 100.0%;">sceneId:2797482<br>Archivo:<a href='data/vrss2/2798281.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_f087712b2652357ee491c7047dd97dcf.setContent(html_82925a5e4d9d31da2bd816e885598796);
            
        

        geo_json_b30e1a8de04841cfe54296877d4ac417.bindPopup(popup_f087712b2652357ee491c7047dd97dcf)
        ;

        
    
    
        function geo_json_2da2b9b64b3378d23efe947c13c9825f_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_2da2b9b64b3378d23efe947c13c9825f_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_2da2b9b64b3378d23efe947c13c9825f = L.geoJson(null, {
                onEachFeature: geo_json_2da2b9b64b3378d23efe947c13c9825f_onEachFeature,
            
                style: geo_json_2da2b9b64b3378d23efe947c13c9825f_styler,
        });

        function geo_json_2da2b9b64b3378d23efe947c13c9825f_add (data) {
            geo_json_2da2b9b64b3378d23efe947c13c9825f
                .addData(data)
                .addTo(feature_group_bbecd04c32a8ee89d2c7adb006206b6a);
        }
            geo_json_2da2b9b64b3378d23efe947c13c9825f_add({"bbox": [-66.529817, 8.31685, -66.186985, 8.655234], "features": [{"bbox": [-66.529817, 8.31685, -66.186985, 8.655234], "geometry": {"coordinates": [[[-66.471894, 8.655234], [-66.186985, 8.596385], [-66.245076, 8.31685], [-66.529817, 8.375684], [-66.471894, 8.655234]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_1f9a6be747bb73ca66b3038131f64008 = L.popup({"maxWidth": "100%"});

        
            
                var html_8c228840140cd52b1c4d518c6ad47f9a = $(`<div id="html_8c228840140cd52b1c4d518c6ad47f9a" style="width: 100.0%; height: 100.0%;">sceneId:2797481<br>Archivo:<a href='data/vrss2/2798282.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_1f9a6be747bb73ca66b3038131f64008.setContent(html_8c228840140cd52b1c4d518c6ad47f9a);
            
        

        geo_json_2da2b9b64b3378d23efe947c13c9825f.bindPopup(popup_1f9a6be747bb73ca66b3038131f64008)
        ;

        
    
    
        function geo_json_83da1e9172ec74ec47eee99a4927476a_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_83da1e9172ec74ec47eee99a4927476a_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_83da1e9172ec74ec47eee99a4927476a = L.geoJson(null, {
                onEachFeature: geo_json_83da1e9172ec74ec47eee99a4927476a_onEachFeature,
            
                style: geo_json_83da1e9172ec74ec47eee99a4927476a_styler,
        });

        function geo_json_83da1e9172ec74ec47eee99a4927476a_add (data) {
            geo_json_83da1e9172ec74ec47eee99a4927476a
                .addData(data)
                .addTo(feature_group_bbecd04c32a8ee89d2c7adb006206b6a);
        }
            geo_json_83da1e9172ec74ec47eee99a4927476a_add({"bbox": [-66.4796, 8.559212, -66.136574, 8.897576], "features": [{"bbox": [-66.4796, 8.559212, -66.136574, 8.897576], "geometry": {"coordinates": [[[-66.421636, 8.897576], [-66.136574, 8.838713], [-66.194714, 8.559212], [-66.4796, 8.618059], [-66.421636, 8.897576]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_842cd52ce225005e0c48d2f2b3942328 = L.popup({"maxWidth": "100%"});

        
            
                var html_157fe4ff06f1ce37088993d32a4e237a = $(`<div id="html_157fe4ff06f1ce37088993d32a4e237a" style="width: 100.0%; height: 100.0%;">sceneId:2797480<br>Archivo:<a href='data/vrss2/2798283.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_842cd52ce225005e0c48d2f2b3942328.setContent(html_157fe4ff06f1ce37088993d32a4e237a);
            
        

        geo_json_83da1e9172ec74ec47eee99a4927476a.bindPopup(popup_842cd52ce225005e0c48d2f2b3942328)
        ;

        
    
    
        function geo_json_576420b1b9e18aa0b78ee94392bd7cda_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_576420b1b9e18aa0b78ee94392bd7cda_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_576420b1b9e18aa0b78ee94392bd7cda = L.geoJson(null, {
                onEachFeature: geo_json_576420b1b9e18aa0b78ee94392bd7cda_onEachFeature,
            
                style: geo_json_576420b1b9e18aa0b78ee94392bd7cda_styler,
        });

        function geo_json_576420b1b9e18aa0b78ee94392bd7cda_add (data) {
            geo_json_576420b1b9e18aa0b78ee94392bd7cda
                .addData(data)
                .addTo(feature_group_bbecd04c32a8ee89d2c7adb006206b6a);
        }
            geo_json_576420b1b9e18aa0b78ee94392bd7cda_add({"bbox": [-66.429341, 8.801572, -66.086118, 9.139901], "features": [{"bbox": [-66.429341, 8.801572, -66.086118, 9.139901], "geometry": {"coordinates": [[[-66.371337, 9.139901], [-66.086118, 9.081023], [-66.144303, 8.801572], [-66.429341, 8.860433], [-66.371337, 9.139901]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_498fa2b45bf45d8c350f0d738dc9ef8c = L.popup({"maxWidth": "100%"});

        
            
                var html_3b8508204ee539f26f3b7ef7efe0891b = $(`<div id="html_3b8508204ee539f26f3b7ef7efe0891b" style="width: 100.0%; height: 100.0%;">sceneId:2797479<br>Archivo:<a href='data/vrss2/2798284.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_498fa2b45bf45d8c350f0d738dc9ef8c.setContent(html_3b8508204ee539f26f3b7ef7efe0891b);
            
        

        geo_json_576420b1b9e18aa0b78ee94392bd7cda.bindPopup(popup_498fa2b45bf45d8c350f0d738dc9ef8c)
        ;

        
    
    
            var tile_layer_aa768eda82e05344f42c5b3288eeca93 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_194d8940a536526462d31b504e83bccb);
        
    
            var tile_layer_ef4dd9ad25b3badaaf6850f35ff010db = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_194d8940a536526462d31b504e83bccb);
        
    
            var layer_control_a104f65b47b02f416914da3c908c0e3f = {
                base_layers : {
                    "openstreetmap" : tile_layer_aa768eda82e05344f42c5b3288eeca93,
                    "stamenterrain" : tile_layer_ef4dd9ad25b3badaaf6850f35ff010db,
                },
                overlays :  {
                    "Escenas" : feature_group_bbecd04c32a8ee89d2c7adb006206b6a,
                },
            };
            L.control.layers(
                layer_control_a104f65b47b02f416914da3c908c0e3f.base_layers,
                layer_control_a104f65b47b02f416914da3c908c0e3f.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_194d8940a536526462d31b504e83bccb);
            tile_layer_ef4dd9ad25b3badaaf6850f35ff010db.remove();
        
</script>
</html>