<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7a8f84098ef1551273e68819d66603d8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7a8f84098ef1551273e68819d66603d8" ></div>
        
</body>
<script>
    
    
            var map_7a8f84098ef1551273e68819d66603d8 = L.map(
                "map_7a8f84098ef1551273e68819d66603d8",
                {
                    center: [7.0, -66.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: true,
                }
            );

            

        
    
            var tile_layer_495f06a68e005efc0d32a743ce36f07a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7a8f84098ef1551273e68819d66603d8);
        
    
            var feature_group_7211726f98e3af75343fc09212480653 = L.featureGroup(
                {}
            ).addTo(map_7a8f84098ef1551273e68819d66603d8);
        
    
        function geo_json_afca5fbd457801c11aeda49e1945c3db_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_afca5fbd457801c11aeda49e1945c3db_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_afca5fbd457801c11aeda49e1945c3db = L.geoJson(null, {
                onEachFeature: geo_json_afca5fbd457801c11aeda49e1945c3db_onEachFeature,
            
                style: geo_json_afca5fbd457801c11aeda49e1945c3db_styler,
        });

        function geo_json_afca5fbd457801c11aeda49e1945c3db_add (data) {
            geo_json_afca5fbd457801c11aeda49e1945c3db
                .addData(data)
                .addTo(feature_group_7211726f98e3af75343fc09212480653);
        }
            geo_json_afca5fbd457801c11aeda49e1945c3db_add({"bbox": [-66.630138, 7.83209, -66.287668, 8.170535], "features": [{"bbox": [-66.630138, 7.83209, -66.287668, 8.170535], "geometry": {"coordinates": [[[-66.57229, 8.170535], [-66.287668, 8.111711], [-66.345672, 7.83209], [-66.630138, 7.890901], [-66.57229, 8.170535]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_1044d7820a29805a68241a7ab701f615 = L.popup({"maxWidth": "100%"});

        
            
                var html_6165cd77dda51098f7b3cef924002576 = $(`<div id="html_6165cd77dda51098f7b3cef924002576" style="width: 100.0%; height: 100.0%;">sceneId:2797483<br>Archivo:<a href='static/data/vrss2/2798280.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_1044d7820a29805a68241a7ab701f615.setContent(html_6165cd77dda51098f7b3cef924002576);
            
        

        geo_json_afca5fbd457801c11aeda49e1945c3db.bindPopup(popup_1044d7820a29805a68241a7ab701f615)
        ;

        
    
    
        function geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f = L.geoJson(null, {
                onEachFeature: geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f_onEachFeature,
            
                style: geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f_styler,
        });

        function geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f_add (data) {
            geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f
                .addData(data)
                .addTo(feature_group_7211726f98e3af75343fc09212480653);
        }
            geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f_add({"bbox": [-66.579995, 8.074481, -66.237348, 8.412892], "features": [{"bbox": [-66.579995, 8.074481, -66.237348, 8.412892], "geometry": {"coordinates": [[[-66.522111, 8.412892], [-66.237348, 8.354055], [-66.295394, 8.074481], [-66.579995, 8.133304], [-66.522111, 8.412892]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_5c7a6e8e06279ad89e17ca7dcfc42e40 = L.popup({"maxWidth": "100%"});

        
            
                var html_d3000ad9b2c5d7fd8b142706f441ffaa = $(`<div id="html_d3000ad9b2c5d7fd8b142706f441ffaa" style="width: 100.0%; height: 100.0%;">sceneId:2797482<br>Archivo:<a href='static/data/vrss2/2798281.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_5c7a6e8e06279ad89e17ca7dcfc42e40.setContent(html_d3000ad9b2c5d7fd8b142706f441ffaa);
            
        

        geo_json_d8c458cfcb3bf4e68aaa0be4ecc1637f.bindPopup(popup_5c7a6e8e06279ad89e17ca7dcfc42e40)
        ;

        
    
    
        function geo_json_4040856504c46781fceb8720b2c751e6_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_4040856504c46781fceb8720b2c751e6_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_4040856504c46781fceb8720b2c751e6 = L.geoJson(null, {
                onEachFeature: geo_json_4040856504c46781fceb8720b2c751e6_onEachFeature,
            
                style: geo_json_4040856504c46781fceb8720b2c751e6_styler,
        });

        function geo_json_4040856504c46781fceb8720b2c751e6_add (data) {
            geo_json_4040856504c46781fceb8720b2c751e6
                .addData(data)
                .addTo(feature_group_7211726f98e3af75343fc09212480653);
        }
            geo_json_4040856504c46781fceb8720b2c751e6_add({"bbox": [-66.529817, 8.31685, -66.186985, 8.655234], "features": [{"bbox": [-66.529817, 8.31685, -66.186985, 8.655234], "geometry": {"coordinates": [[[-66.471894, 8.655234], [-66.186985, 8.596385], [-66.245076, 8.31685], [-66.529817, 8.375684], [-66.471894, 8.655234]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_d95735a1ab979a2102ea4c32fb154832 = L.popup({"maxWidth": "100%"});

        
            
                var html_f61522c0c32a24f0438a2eabc7b31b83 = $(`<div id="html_f61522c0c32a24f0438a2eabc7b31b83" style="width: 100.0%; height: 100.0%;">sceneId:2797481<br>Archivo:<a href='static/data/vrss2/2798282.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_d95735a1ab979a2102ea4c32fb154832.setContent(html_f61522c0c32a24f0438a2eabc7b31b83);
            
        

        geo_json_4040856504c46781fceb8720b2c751e6.bindPopup(popup_d95735a1ab979a2102ea4c32fb154832)
        ;

        
    
    
        function geo_json_cc7c244a532087fbeab93d1722733d2f_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_cc7c244a532087fbeab93d1722733d2f_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_cc7c244a532087fbeab93d1722733d2f = L.geoJson(null, {
                onEachFeature: geo_json_cc7c244a532087fbeab93d1722733d2f_onEachFeature,
            
                style: geo_json_cc7c244a532087fbeab93d1722733d2f_styler,
        });

        function geo_json_cc7c244a532087fbeab93d1722733d2f_add (data) {
            geo_json_cc7c244a532087fbeab93d1722733d2f
                .addData(data)
                .addTo(feature_group_7211726f98e3af75343fc09212480653);
        }
            geo_json_cc7c244a532087fbeab93d1722733d2f_add({"bbox": [-66.4796, 8.559212, -66.136574, 8.897576], "features": [{"bbox": [-66.4796, 8.559212, -66.136574, 8.897576], "geometry": {"coordinates": [[[-66.421636, 8.897576], [-66.136574, 8.838713], [-66.194714, 8.559212], [-66.4796, 8.618059], [-66.421636, 8.897576]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_17978bfaa6ae5b6237c8e8db40098342 = L.popup({"maxWidth": "100%"});

        
            
                var html_ce85b4f2a9baa98423184fc007d36a13 = $(`<div id="html_ce85b4f2a9baa98423184fc007d36a13" style="width: 100.0%; height: 100.0%;">sceneId:2797480<br>Archivo:<a href='static/data/vrss2/2798283.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_17978bfaa6ae5b6237c8e8db40098342.setContent(html_ce85b4f2a9baa98423184fc007d36a13);
            
        

        geo_json_cc7c244a532087fbeab93d1722733d2f.bindPopup(popup_17978bfaa6ae5b6237c8e8db40098342)
        ;

        
    
    
        function geo_json_e9d52a693676863082d8b2aee03e0872_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_e9d52a693676863082d8b2aee03e0872_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_e9d52a693676863082d8b2aee03e0872 = L.geoJson(null, {
                onEachFeature: geo_json_e9d52a693676863082d8b2aee03e0872_onEachFeature,
            
                style: geo_json_e9d52a693676863082d8b2aee03e0872_styler,
        });

        function geo_json_e9d52a693676863082d8b2aee03e0872_add (data) {
            geo_json_e9d52a693676863082d8b2aee03e0872
                .addData(data)
                .addTo(feature_group_7211726f98e3af75343fc09212480653);
        }
            geo_json_e9d52a693676863082d8b2aee03e0872_add({"bbox": [-66.429341, 8.801572, -66.086118, 9.139901], "features": [{"bbox": [-66.429341, 8.801572, -66.086118, 9.139901], "geometry": {"coordinates": [[[-66.371337, 9.139901], [-66.086118, 9.081023], [-66.144303, 8.801572], [-66.429341, 8.860433], [-66.371337, 9.139901]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_e2a089d9d337220afc7a0334772b5d0e = L.popup({"maxWidth": "100%"});

        
            
                var html_dbc5e9fbfa532ea56c10b06dca8a17be = $(`<div id="html_dbc5e9fbfa532ea56c10b06dca8a17be" style="width: 100.0%; height: 100.0%;">sceneId:2797479<br>Archivo:<a href='static/data/vrss2/2798284.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_e2a089d9d337220afc7a0334772b5d0e.setContent(html_dbc5e9fbfa532ea56c10b06dca8a17be);
            
        

        geo_json_e9d52a693676863082d8b2aee03e0872.bindPopup(popup_e2a089d9d337220afc7a0334772b5d0e)
        ;

        
    
    
            var tile_layer_f2510a878faecafc8ece4269ef452318 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7a8f84098ef1551273e68819d66603d8);
        
    
            var tile_layer_f71e394e28bfaaafa8f8f414a6a6b3f9 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7a8f84098ef1551273e68819d66603d8);
        
    
            var layer_control_c9af2f9702b0e5a9045c2690b5262ddd = {
                base_layers : {
                    "openstreetmap" : tile_layer_f2510a878faecafc8ece4269ef452318,
                    "stamenterrain" : tile_layer_f71e394e28bfaaafa8f8f414a6a6b3f9,
                },
                overlays :  {
                    "Escenas" : feature_group_7211726f98e3af75343fc09212480653,
                },
            };
            L.control.layers(
                layer_control_c9af2f9702b0e5a9045c2690b5262ddd.base_layers,
                layer_control_c9af2f9702b0e5a9045c2690b5262ddd.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_7a8f84098ef1551273e68819d66603d8);
            tile_layer_f71e394e28bfaaafa8f8f414a6a6b3f9.remove();
        
</script>
</html>