<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_224c274d0af640589f3c5f5e9330a3e1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_224c274d0af640589f3c5f5e9330a3e1" ></div>
        
</body>
<script>
    
    
            var map_224c274d0af640589f3c5f5e9330a3e1 = L.map(
                "map_224c274d0af640589f3c5f5e9330a3e1",
                {
                    center: [7.0, -66.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: true,
                }
            );

            

        
    
            var tile_layer_6ed6d056e4aca0abedc22290687bc513 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_224c274d0af640589f3c5f5e9330a3e1);
        
    
            var feature_group_f581fac5d7420bed3b2db521398215aa = L.featureGroup(
                {}
            ).addTo(map_224c274d0af640589f3c5f5e9330a3e1);
        
    
        function geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc = L.geoJson(null, {
                onEachFeature: geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc_onEachFeature,
            
                style: geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc_styler,
        });

        function geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc_add (data) {
            geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc
                .addData(data)
                .addTo(feature_group_f581fac5d7420bed3b2db521398215aa);
        }
            geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc_add({"bbox": [-66.630138, 7.83209, -66.287668, 8.170535], "features": [{"bbox": [-66.630138, 7.83209, -66.287668, 8.170535], "geometry": {"coordinates": [[[-66.57229, 8.170535], [-66.287668, 8.111711], [-66.345672, 7.83209], [-66.630138, 7.890901], [-66.57229, 8.170535]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_daaec8894ec292988326a593951f3a41 = L.popup({"maxWidth": "100%"});

        
            
                var html_47836e7fbdf5b9e0109705fc55a1a942 = $(`<div id="html_47836e7fbdf5b9e0109705fc55a1a942" style="width: 100.0%; height: 100.0%;">sceneId:2797483<br>Archivo:<a href='data/vrss2/2798280.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_daaec8894ec292988326a593951f3a41.setContent(html_47836e7fbdf5b9e0109705fc55a1a942);
            
        

        geo_json_e9a2bc4d2b2bba4a866af6949c82a4bc.bindPopup(popup_daaec8894ec292988326a593951f3a41)
        ;

        
    
    
        function geo_json_4b95905fd70ff2586b3168a07596f2d3_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_4b95905fd70ff2586b3168a07596f2d3_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_4b95905fd70ff2586b3168a07596f2d3 = L.geoJson(null, {
                onEachFeature: geo_json_4b95905fd70ff2586b3168a07596f2d3_onEachFeature,
            
                style: geo_json_4b95905fd70ff2586b3168a07596f2d3_styler,
        });

        function geo_json_4b95905fd70ff2586b3168a07596f2d3_add (data) {
            geo_json_4b95905fd70ff2586b3168a07596f2d3
                .addData(data)
                .addTo(feature_group_f581fac5d7420bed3b2db521398215aa);
        }
            geo_json_4b95905fd70ff2586b3168a07596f2d3_add({"bbox": [-66.579995, 8.074481, -66.237348, 8.412892], "features": [{"bbox": [-66.579995, 8.074481, -66.237348, 8.412892], "geometry": {"coordinates": [[[-66.522111, 8.412892], [-66.237348, 8.354055], [-66.295394, 8.074481], [-66.579995, 8.133304], [-66.522111, 8.412892]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_fcf7e13412ddb94e6e88b95af9a86c8b = L.popup({"maxWidth": "100%"});

        
            
                var html_3ff79912fb20acad64e7a79de3b53962 = $(`<div id="html_3ff79912fb20acad64e7a79de3b53962" style="width: 100.0%; height: 100.0%;">sceneId:2797482<br>Archivo:<a href='data/vrss2/2798281.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_fcf7e13412ddb94e6e88b95af9a86c8b.setContent(html_3ff79912fb20acad64e7a79de3b53962);
            
        

        geo_json_4b95905fd70ff2586b3168a07596f2d3.bindPopup(popup_fcf7e13412ddb94e6e88b95af9a86c8b)
        ;

        
    
    
        function geo_json_8e52901428b177c66368bdc8a54bebec_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_8e52901428b177c66368bdc8a54bebec_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_8e52901428b177c66368bdc8a54bebec = L.geoJson(null, {
                onEachFeature: geo_json_8e52901428b177c66368bdc8a54bebec_onEachFeature,
            
                style: geo_json_8e52901428b177c66368bdc8a54bebec_styler,
        });

        function geo_json_8e52901428b177c66368bdc8a54bebec_add (data) {
            geo_json_8e52901428b177c66368bdc8a54bebec
                .addData(data)
                .addTo(feature_group_f581fac5d7420bed3b2db521398215aa);
        }
            geo_json_8e52901428b177c66368bdc8a54bebec_add({"bbox": [-66.529817, 8.31685, -66.186985, 8.655234], "features": [{"bbox": [-66.529817, 8.31685, -66.186985, 8.655234], "geometry": {"coordinates": [[[-66.471894, 8.655234], [-66.186985, 8.596385], [-66.245076, 8.31685], [-66.529817, 8.375684], [-66.471894, 8.655234]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_db53cf8871261973729b2a27814c7e3f = L.popup({"maxWidth": "100%"});

        
            
                var html_c0608536d5da1178302e2f0e952bbb5b = $(`<div id="html_c0608536d5da1178302e2f0e952bbb5b" style="width: 100.0%; height: 100.0%;">sceneId:2797481<br>Archivo:<a href='data/vrss2/2798282.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_db53cf8871261973729b2a27814c7e3f.setContent(html_c0608536d5da1178302e2f0e952bbb5b);
            
        

        geo_json_8e52901428b177c66368bdc8a54bebec.bindPopup(popup_db53cf8871261973729b2a27814c7e3f)
        ;

        
    
    
        function geo_json_5566854ac711cec3e18408f802fdcb81_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_5566854ac711cec3e18408f802fdcb81_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_5566854ac711cec3e18408f802fdcb81 = L.geoJson(null, {
                onEachFeature: geo_json_5566854ac711cec3e18408f802fdcb81_onEachFeature,
            
                style: geo_json_5566854ac711cec3e18408f802fdcb81_styler,
        });

        function geo_json_5566854ac711cec3e18408f802fdcb81_add (data) {
            geo_json_5566854ac711cec3e18408f802fdcb81
                .addData(data)
                .addTo(feature_group_f581fac5d7420bed3b2db521398215aa);
        }
            geo_json_5566854ac711cec3e18408f802fdcb81_add({"bbox": [-66.4796, 8.559212, -66.136574, 8.897576], "features": [{"bbox": [-66.4796, 8.559212, -66.136574, 8.897576], "geometry": {"coordinates": [[[-66.421636, 8.897576], [-66.136574, 8.838713], [-66.194714, 8.559212], [-66.4796, 8.618059], [-66.421636, 8.897576]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_8fc6af8a218496954fad3b46994173b6 = L.popup({"maxWidth": "100%"});

        
            
                var html_abcc8e6c7b7d1a51a38c5588c330fdae = $(`<div id="html_abcc8e6c7b7d1a51a38c5588c330fdae" style="width: 100.0%; height: 100.0%;">sceneId:2797480<br>Archivo:<a href='data/vrss2/2798283.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_8fc6af8a218496954fad3b46994173b6.setContent(html_abcc8e6c7b7d1a51a38c5588c330fdae);
            
        

        geo_json_5566854ac711cec3e18408f802fdcb81.bindPopup(popup_8fc6af8a218496954fad3b46994173b6)
        ;

        
    
    
        function geo_json_f44c55da0df7e7600e72640f24be646c_styler(feature) {
            switch(feature.id) {
                default:
                    return {"fillColor": "orange"};
            }
        }

        function geo_json_f44c55da0df7e7600e72640f24be646c_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_f44c55da0df7e7600e72640f24be646c = L.geoJson(null, {
                onEachFeature: geo_json_f44c55da0df7e7600e72640f24be646c_onEachFeature,
            
                style: geo_json_f44c55da0df7e7600e72640f24be646c_styler,
        });

        function geo_json_f44c55da0df7e7600e72640f24be646c_add (data) {
            geo_json_f44c55da0df7e7600e72640f24be646c
                .addData(data)
                .addTo(feature_group_f581fac5d7420bed3b2db521398215aa);
        }
            geo_json_f44c55da0df7e7600e72640f24be646c_add({"bbox": [-66.429341, 8.801572, -66.086118, 9.139901], "features": [{"bbox": [-66.429341, 8.801572, -66.086118, 9.139901], "geometry": {"coordinates": [[[-66.371337, 9.139901], [-66.086118, 9.081023], [-66.144303, 8.801572], [-66.429341, 8.860433], [-66.371337, 9.139901]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
        var popup_06fab3bfc718f43ae3f318d1bc63dfa4 = L.popup({"maxWidth": "100%"});

        
            
                var html_4592f090a3d5daad023a5ff300e6265c = $(`<div id="html_4592f090a3d5daad023a5ff300e6265c" style="width: 100.0%; height: 100.0%;">sceneId:2797479<br>Archivo:<a href='data/vrss2/2798284.0.tar.gz' target='_blank'>Descarga</a></div>`)[0];
                popup_06fab3bfc718f43ae3f318d1bc63dfa4.setContent(html_4592f090a3d5daad023a5ff300e6265c);
            
        

        geo_json_f44c55da0df7e7600e72640f24be646c.bindPopup(popup_06fab3bfc718f43ae3f318d1bc63dfa4)
        ;

        
    
    
            var tile_layer_1246df5a89178359cb03d30dc43143f0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_224c274d0af640589f3c5f5e9330a3e1);
        
    
            var tile_layer_fc069149c42955e9434cfc3b9216e70a = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_224c274d0af640589f3c5f5e9330a3e1);
        
    
            var layer_control_ddbdc92b3e463b1a20e1d59da941f06b = {
                base_layers : {
                    "openstreetmap" : tile_layer_1246df5a89178359cb03d30dc43143f0,
                    "stamenterrain" : tile_layer_fc069149c42955e9434cfc3b9216e70a,
                },
                overlays :  {
                    "Escenas" : feature_group_f581fac5d7420bed3b2db521398215aa,
                },
            };
            L.control.layers(
                layer_control_ddbdc92b3e463b1a20e1d59da941f06b.base_layers,
                layer_control_ddbdc92b3e463b1a20e1d59da941f06b.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_224c274d0af640589f3c5f5e9330a3e1);
            tile_layer_fc069149c42955e9434cfc3b9216e70a.remove();
        
</script>
</html>